header{
    padding: 30px;
    height: 300px;
    text-align: center;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header h1{
    font-size: 30px;
    margin: 0 0 10px;
}

header p{
    margin: 0 0 10px;
}

header img{
    margin: 20px 0 0;
    animation: rotate 4s linear infinite;
}

header div{
    background-color: rgba(0, 0, 0, .7);
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}


@keyframes rotate {
    0%, 100% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
}