main{
  position: relative;
  width: 100%;
  height: calc(100vh - 600px); 
  overflow: hidden;
}




.container {
  width: 180px;
  height: 180px;
  position: relative;
  transform-style: preserve-3d;
}

.container img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

img.flip-card-back {
  backface-visibility: hidden;
}


.container:hover img{
  animation: spin 2s linear infinite;

}

@keyframes spin {
  0% {
    transform: rotateX(-20deg) rotateY(0);
  }
  100% {
    transform: rotateX(-20deg) rotateY(360deg);
  }
}